:root {
  --cor-principal: #000000;
  --cor-secundaria: #d01518;
  --cor-texto: #fefdfb;
  --cor-borda: #6d0002;
  --cor-batalha: #370c10;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.cabecalho {
  position: relative;
  z-index: 10;
  display: flex;
  padding: 1rem 0rem 0.5rem 2rem;
  background: linear-gradient(0deg, var(--cor-borda), var(--cor-principal));
  box-shadow: 0px 10px 10px black;
  border-bottom: 2px solid black;
  width: 100%;
}

.cabecalho__menu {
  display: flex;
  gap: 2rem;
}

.opcao {
  color: var(--cor-texto);
  font-family: "Orbitron";
  font-weight: 500;
  font-size: 1.2rem;
  padding: 5px 5px;
  position: relative;
  transition: all 0.3 ease;
}

.opcao:hover {
  color: var(--cor-secundaria);
  text-shadow: 0 0 3px var(--cor-principal), 0 0 3px var(--cor-secundaria);
}

.opcao::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--cor-secundaria);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.opcao:hover::after {
  transform: scaleX(1);
}

body {
  min-height: 100vh;
  background-color: var(--cor-principal);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.conteudo {
  font-family: "Orbitron";
  font-weight: 500;
  flex: 1;
  position: relative; /* Para posicionar #rain dentro dela */
  overflow: hidden; /* Garante que a chuva não vaze */
}

.conteudo__inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 60%;
  margin: 8rem auto;
  padding: 1rem;
}

.texto__principal h1 {
  margin-bottom: 1rem;
  color: var(--cor-texto);
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

.texto__secundario {
  font-size: 1.1rem;
  color: var(--cor-texto);
}

strong {
  color: var(--cor-secundaria);
}

.destaque {
  color: var(--cor-secundaria);
  border-bottom: 1px solid var(--cor-secundaria);
  font-weight: 500;
}

.icon__ninja {
  text-align: center;
  width: 25rem;
}

.redes__sociais {
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin-top: 3rem;
  font-size: 2.5rem;
}

.social__icon {
  color: var(--cor-secundaria);
  transition: transform 0.3s;
}

.social__icon:hover {
  transform: scale(1.5);
  border-bottom: 2px solid var(--cor-secundaria);
}

.rodape {
  width: 100%;
  padding: 15px 0;
  margin-top: auto;
  background: linear-gradient(180deg, var(--cor-borda), var(--cor-principal));
}

.rodape_text {
  text-align: center;
  font-family: "Orbitron";
  font-weight: 500;
  color: var(--cor-texto);
  margin: 0;
}

.shuriken {
  position: absolute;
  z-index: 1;
  top: 0.8rem;
  right: -3rem;
  width: 22rem;
  animation: girar 3s linear infinite;
}

/* Página de Batalha */

.texto__batalha {
  font-family: "Orbitron";
  margin: 2rem auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-size: 1.3rem;
  color: var(--cor-texto);
}

.titulo__com__shuriken {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shuriken__titulo {
  width: 2rem;
  height: 2rem;
  animation: girar 3s linear infinite;
}

.batalha__seletores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14rem;
  margin: 0;
}

.seletor__bloco {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.select2-container--default .select2-selection--single {
  background-color: var(--cor-batalha) !important;
  border: 2px solid var(--cor-principal) !important;
  color: var(--cor-texto) !important;
  border-radius: 8px !important;
  height: 2.5rem !important;
  display: flex !important;
  align-items: center !important;
  font-size: 1rem !important;
  box-shadow: none !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  background: var(--cor-texto) !important;
  color: var(--cor-principal) !important;
  border: 2px solid var(--cor-batalha) !important;
  font-family: "Orbitron", Arial, sans-serif !important;
  text-align: center;
  height: 1.4rem !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--cor-texto) !important;
  line-height: 2.5rem !important;
  text-align: center !important;
  font-family: "Orbitron", Arial, sans-serif !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100% !important;
}

.select2-container--default .select2-dropdown {
  background-color: var(--cor-batalha) !important;
  border: 2px solid var(--cor-batalha) !important;
  color: var(--cor-texto) !important;
}

.select2-container--default .select2-results__option {
  color: var(--cor-texto) !important;
  font-family: "Orbitron", Arial, sans-serif !important;
  font-size: 1rem !important;
  background: var(--cor-batalha) !important;
  text-align: center !important;
}

.select2-container--default .select2-dropdown .select2-results__options {
  scrollbar-width: thin;
  scrollbar-color: var(--cor-texto) var(--cor-principal);
}

.select2-container--default
  .select2-dropdown
  .select2-results__options::-webkit-scrollbar {
  width: 8px;
  background: var(--cor-principal);
}
.select2-container--default
  .select2-dropdown
  .select2-results__options::-webkit-scrollbar-thumb {
  background: var(--cor-batalha);
  border-radius: 8px;
}
.select2-container--default
  .select2-dropdown
  .select2-results__options::-webkit-scrollbar-thumb:hover {
  background: var(--cor-batalha);
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: var(--cor-principal) !important;
  color: var(--preto-principal) !important;
}

.img__personagem {
  width: 16rem;
  height: 16rem;
  padding: 0;
  object-fit: contain;
  display: block;
  border: 5px solid var(--cor-batalha);
}

.container__caixa {
  position: relative;
  margin-top: 50px;
}

.img__container {
  background: var(--preto-principal);
  width: 16rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin: 1rem auto 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  border: 2px solid var(--cor-principal);
}

.caixa__analise {
  background: var(--cor-batalha);
  color: var(--cor-texto);
  border-radius: 12px;
  min-height: 10rem;
  width: 30rem;
  margin-top: 0;
  max-height: 30rem;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-family: "arial", sans-serif;
  font-size: 1.2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn__analise {
  position: relative;
  z-index: 1;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background: var(--cor-secundaria);
  color: var(--cor-texto);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-family: "orbitron";
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn__analise:hover {
  background-color: var(--cor-batalha);
}

.arte__1 {
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: -1;
  width: 36%;
  animation: girar_artes 9s linear infinite;
}

.arte__3 {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: -1;
  width: 36%;
  animation: girar_artes 9s linear infinite;
}


#rain {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.raindrop {
  position: absolute;
  top: -10vh;
  width: 2px;
  height: 15vh;
  background: linear-gradient(
    to bottom,
    var(--cor-batalha) 60%,
    transparent 100%
  );
  border-radius: 1px;
  animation: rain-fall linear infinite;
}

@keyframes rain-fall {
  to {
    top: 100vh;
  }
}

#lightning {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 0;
  z-index: 100000;
  transition: opacity 0.8s;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes girar_artes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 901px) and (max-width: 1500px) {
  .conteudo__inicio {
    padding-top: 8rem;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  .icon__ninja {
    width: 20rem;
  }

  .batalha__seletores {
    padding: 3rem;
    gap: 2rem;
  }

  .seletor__bloco {
    width: 100%;
    max-width: 14rem;
    align-items: center;
  }

  .img__personagem {
    width: 100%;
    max-width: 14rem;
    height: auto;
    display: block;
  }

  .caixa__analise {
    width: 100%;
    max-width: 32rem;
    min-width: 0;
    margin: 1rem auto;
    max-height: 40vh;
  }

  .shuriken {
    width: 16rem;
  }
}

@media (min-width: 350px) and (max-width: 900px) {
  .conteudo__inicio {
    padding-top: 8rem;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  .icon__ninja {
    width: 20rem;
  }

  .batalha__seletores {
    flex-direction: column;
    gap: 2rem;
  }

  .seletor__bloco {
    width: 100%;
    max-width: 20rem;
    align-items: center;
  }

  .img__personagem {
    width: 14rem;
    height: 14rem;
  }

  .caixa__analise {
    width: 90%;
    max-height: 40vh;
    margin: 1rem auto;
  }

  .shuriken {
    width: 16rem;
  }

  .kunai__titulo {
    display: none;
  }

  .redes__sociais {
    gap: 3rem;
  }

  .titulo__com__shuriken {
    padding: 1rem;
    font-size: 0.8rem;
  }
}
